#body {
  background: url(../img/bch.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  content: '';
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
}


#greeting {
  display: block;
}

#ID, #brain, #work, #prsntpe, #why, #result, #Rizzzultzc, #Rizzzultzr, #Rizzzultzj, #Rizzzultzp {
  display: none;
}
.containerMAIN {

  margin-top:16%;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content:center

}

.card-imp-top {
  padding-top: 5px;
}
